/ {
    // Define skeleton for the left encoder
    encoder_left: encoder_1 {
        compatible = "alps,ec11";
        steps = <80>;
        status = "disabled";
    };

    // Define skeleton for the right encoder
    encoder_right: encoder_2 {
        compatible = "alps,ec11";
        steps = <80>;
        status = "disabled";
    };

    gpio_keys {
        compatible = "zmk,gpio-keys";
        status = "disabled";

        encoder_press_left: encoder_press_left {
            gpios = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; 
            label = "ENCODER_PRESS_LEFT";
        };
        encoder_press_right: encoder_press_right {
            gpios = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "ENCODER_PRESS_RIGHT";
        };
    };
};
