#include "corne_enc.dtsi" // Include the same shared template

// Enable and configure the right-side hardware
&encoder_right {
    status = "okay";
    a-gpios = <&pro_micro 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // CHANGE THIS: Right A pin
    b-gpios = <&pro_micro 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // CHANGE THIS: Right B pin
};

/ { 
    direct_keys: direct_keys {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        label = "DIRECT_KEYS";
    };
        
    kscan_composite: kscan_composite {
        compatible = "zmk,kscan-composite";
        columns = <12>;
        rows = <5>;
        matrix {
            kscan = <&kscan0>;
        };
        direct {
            kscan = <&direct_keys>;
            row-offset = <4>;
            // col-offset = <1>;
        };
    };

};
